<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top bg-white border-bottom" style="border-color: #afafaf">
  <div class="container-fluid w-75">
    <%= link_to root_path, class: "navbar_brand" do %>
        <%= image_tag 'small_logo.png', width: "250rem"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex">
        <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 border-0" type="search" placeholder="Search" aria-label="Search" style="background: #efefef">
            </form>
        </div>

        <div class="navbar-collapse gap-4">
            <%= link_to root_path, class: "text-dark" do%>
                <i class="fa-solid fa-igloo fa-xl"></i>
            <% end %>

            <i class="fa-solid fa-message fa-xl"></i>

            <a type="button" class="text-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-regular fa-square-plus fa-xl"></i>
            </a>
            
            <i class="fa-regular fa-heart fa-xl"></i>

            <div class="dropdown">
            <a class="text-dark fs-4" style="text-decoration:none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user && current_user.profile_picture.attached? %>
                    <%= image_tag current_user.profile_picture, class: "img-thumbnail rounded-circle", style: "width: 2.5rem"%>
                <% else %>
                    <%= image_tag 'default_user.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem"%>        
                <% end %>
            </a>

            <ul class="dropdown-menu">
              <li>
                <%= button_to 'Çıkış Yap', destroy_and_redirect_session_path, class: "dropdown-item", method: :delete%>
              </li>
            </ul>
          </div>

        </div>
    </div>
  </div>
</nav>

<%= render 'posts/form', post: Post.new %>